name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    # Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v3

    # Setup Node.js
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18

    # Install dependencies
    - name: Install dependencies
      run: npm install

    # Run Jest unit tests (Unit Test folder)
    - name: Run Jest Unit Tests
      run: npx jest "Unit Test/**/*.test.js" --ci --coverage

    # Start local server for Cypress
    - name: Start Local Server
      run: npm start &
      shell: bash

    # Wait for server to be ready
    - name: Wait for server
      run: npx wait-on http://localhost:8090

    # Run Cypress tests
    - name: Run Cypress E2E Tests
      uses: cypress-io/github-action@v6
      with:
        browser: chrome
        headless: true
        wait-on: 'http://localhost:8090'
